<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <th:block th:each="carModel : ${auto}">
        <h1 th:text="${carModel.toString()}"></h1>
    </th:block>

    <br>
    <hr>
    <p><a href="/cars?count=5">all cars</a></p>
    <p><a href="/cars?count=-1">-1 car</a></p>
    <p><a href="/cars?count=0">0 car</a></p>
    <p><a href="/cars?count=1">1 car</a></p>
    <p><a href="/cars?count=2">2 cars</a></p>
    <p><a href="/cars?count=3">3 cars</a></p>
    <p><a href="/cars?count=4">4 cars</a></p>
    <p><a href="/cars?count=5">5 cars</a></p>
    <p><a href="/cars?count=6">6 cars</a></p>
    <br>
    <hr>
    <p><a href="/">to the Index</a></p>
</div>
</body>
</html>